SVHN/*.mat
*.m~
*.asv
*.pyc
*/screenshots/*
*/*.avi
*.sublime-workspace
Pororo/fix_bak/*
Pororo/tmp/*
Pororo/img/animated_gif/train
Pororo/model/caffe/test*
Pororo/model/caffe/train*
Pororo/model/caffe/*.caffemodel
Pororo/model/caffe/*.solverstate

