.alert {
  display: none;
}
.participant-info-label {
  font-weight: normal;
  width: 100px;
  text-align: right;
  padding-right: 6px;
}
.participant-info-text {
}
.participant-info-id {
  font-weight: bold;
  color: #428bca;
}
.panel-vote {
  margin-left: 20px;
}
.form-group {
  margin-bottom: 0;
}
.spacy {
  padding: 30px;
}